body{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: $black;
}
.h1{
  font-size:3.875rem;
  font-weight: bold;
  line-height: 4.563rem;;
}
.h2{
  font-size: 2.25rem;
  line-height: 2.688rem;
}
.h3{
  font-size: 22px;
}
.h4{
  font-size: 1rem;
  font-weight: bold;
}
.container{
  margin: 0 auto;
  max-width: 1170px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn{
  background: $orange;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  line-height: 1.188rem;
  padding: 1.125em 4.125em  1.125em 1.875em;
  color: $white;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
  transition: all .2s;
  &::after{
    content: '';
    position: absolute;
    margin-left: 20px;
    height: 36px;
    width: 36px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/icons/paw-orange.svg);
  }
  &:hover{
    background: $white;
    color: $black;
    &::after{
      background-image: url(../img/icons/paw.svg);
    }
  }
  &--inverse{
    background: $white;
    color: $black;
    &::after{
      background-image: url(../img/icons/paw.svg);
    }
    &:hover{
      background: $orange;
      color: $white;
      &::after{
        background-image: url(../img/icons/paw-orange.svg);
      }
    }
  }
}
.carousel-control{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .carousel-btn{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 50%;
    background: $white;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
    font-size: 22px;
    color: $orange;
    cursor: pointer;
  }
  .btn-next{
    display: flex;
    justify-content: center;
    position: relative;
    &::after,
    &::before{
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      width: 8px;
      background: $orange;
    }
    &::before{
      top: 14px;
      left: 15px;
      transform: rotate(45deg);

    }
    &::after{ 
      top: 19px;
      left: 15px;
      transform: rotate(-45deg);
    }
  }
  .btn-prev{
    display: flex;
    justify-content: center;
    position: relative;
    &::after,
    &::before{
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      width: 8px;
      background: $orange;
    }
    &::before{
      top: 15px;
      left: 11px;
      transform: rotate(-45deg);

    }
    &::after{ 
      top: 20px;
      left: 11px;
      transform: rotate(45deg);
    }
  }
}
.carousel-dots{
  .slick-dots{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      button{
        height: 12px;
        width: 12px;
        border: none;
        font-size: 0;
        border-radius: 50%;
        background: $grey;
        margin-right: 12px;
        cursor: pointer;
      }
      &:last-child{
        button{
          margin-right: 0;
        }
      }
    }
    .slick-active{
      button{
        background: $orange;
      }
    }
  }
}