@media screen and (max-width: 1366px){
  .container,
  .top-line__container{
    overflow: hidden;
    padding: 0 5px;
  }
}
@media screen and (max-width: 980px){
  .main-rooms{
    margin-top: -100px;
  }
  .carousel-content{
    padding: 40px 40px;
    margin-left: -15%;
  }
  .carousel-content__title{
    margin-top: 0;
  }
}
@media screen and (max-width: 768px){
  .container,
  .top-line__container{
    max-width: 678px;
  }
  .header-baner{
    background-image: url(../img/header_bg-976.jpg);
    min-height: 768px;
  }
  .header-baner__content{
    width: 100%;
    text-align: center;
    margin-left: 0;
    top: 25%;
  }
  .testimonial_wrap{
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
  }
  .carousel-img__wrap{
    width: 60%;
    img{
      position: relative;
      object-fit: cover;
      height: 326px;
      border-radius: 8px;
    }
  }
  .carousel-content{
    margin-left: -10%;
  }
  .map-info{
    padding-left: 3%;
  }
}
@media screen and (max-width: 680px){
  .main,
  .h2-rooms,
  .review{
    margin-top: 70px;
    overflow: hidden;
  }
  // Навигация
  .top-line__box .logo{
    position: relative;
    top: 0px;
    left: 15px;
    z-index: 2;
  }
  .top-line__nav-list{
    margin: 0;
    position: fixed;
    flex-direction: column;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 0;
    background: $yellow;
    transition-duration: .25s;
    z-index: 1;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .top-line__nav-list {
    visibility: visible;
    left: 0;
    overflow: hidden;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 999;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: $black;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .main-rooms::before{
    top: 260px;
  }
  .testimonial_wrap{
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
  .room-carousel{
    &__item{
      font-size: 20px;
    }
    &-item__wrap{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      flex-direction: column;
    }
  }
  .carousel-img__wrap{
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    img{
      height: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .carousel-content{
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
  }
  .map{
    flex-direction: column;
    &-info,
    &-frame{
      width: 100%;
    }
  }
  .prefooter-container{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .prefooter-list{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
  .main-footer .row{
    margin-top: 15px;
    flex-direction: column;
    align-items: start;
  }
}