@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';
.header{
  width: 100%;
}
.top-line__container{
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-line__box{
  .logo{
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
.top-line__nav{
  #menu__toggle{
    appearance: none;
  }
}
.main-nav{
  &__list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item{
    margin-right: 30px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      width: 100%;
      margin-top: 0px;
      background-color: $black;
      transform: scale(0);
      transition: all .3s;
    }
    &:hover{
      &:after{
        transform: scale(1);
      }
    }
  }
  &__link{
    text-decoration: none;
    color: $black;
  }
}
.mobile-nav__item{
  display: none;
}
.header-baner{
  display: flex;
  min-height: 504px;
  height: calc(70vh - 5.0625rem);
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; 
  &::after{
    content: '';
    position: relative;
    left: 100%;
    top: 100%;
    display: block;
    height: 320px;
    width: 360px;
    background: url(../img/decor/paw.svg) no-repeat right bottom;
    transform: translateX(-100%);
  }
}
.header-baner__content{
  width: 50%;
  margin-left: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}
.pretitle{
  font-size: .875rem;
  line-height: 1.063rem;
  margin-bottom: 15px;
}
.h1-title{
  margin-top: 15px;
  margin-bottom: 25px;
}
.suptitle{
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 40px;
}
/*
# Testimonials
*/
.main{
  margin-top: 100px;
  .container{
    margin: 0 auto;
    max-width: 1170px;
  }
}
.main-h2{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-align: center;
}
.testimonial_wrap{
  list-style: none;
  padding: 0;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.testimonial__item{
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  padding: 1.875em;
}
.testimonial__title{
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 0;
  &::before{
    content: '';
    position: relative;
    display: block;
    margin-bottom: 35px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: url(../img/icons/testimonials/01.svg), no-repeat center;
  }
}
.testimonial__item{
  &:nth-child(2){
    .testimonial__title{
      &::before{
        background: url(../img/icons/testimonials/02.svg), no-repeat center;
      }
    }
  }
  &:nth-child(3){
    .testimonial__title{
      &::before{
        background: url(../img/icons/testimonials/03.svg), no-repeat center;
      }
    }
  }
  &:nth-child(4){
    .testimonial__title{
      &::before{
        background: url(../img/icons/testimonials/04.svg), no-repeat center;
      }
    }
  }
  &:nth-child(5){
    .testimonial__title{
      &::before{
        background: url(../img/icons/testimonials/05.svg), no-repeat center;
      }
    }
  }
  &:nth-child(6){
    .testimonial__title{
      &::before{
        background: url(../img/icons/testimonials/06.svg), no-repeat center;
      }
    }
  }
}
.testimonial__content{
  font-size: 1rem;
  line-height: 140%;
}

.main-rooms{
  margin-top: 10px;
  position: relative;
  &::before{
    content: '';
    position: relative;
    top: 200px;
    display: block;
    width: 484px;
    height: 151px;
    background: url(../img/decor/fish.svg), no-repeat center;
    opacity: .50;
  }
}
.h2-rooms{
  text-align: center;
  margin-bottom: 70px;
}
.rooms-carousel{
  list-style: none;
  padding: 0;
}
.room-carousel-item__wrap{
  display: flex;
  align-items: center;
}
.carousel-img__wrap{
  position: relative;
  z-index: 3;
}
.carousel-content{
  position: relative;
  margin-left: -5%;
  padding: 40px 100px;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  background: $white;
  z-index: 4;
}
.carousel-content__title{
  font-family: 'Rubik';
  font-weight: 500;
}
.carousel-content__list{
  padding: 0;
  list-style: none;
  .carousel-content__item{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    &::before{
      content: '';
      display: block;
      height: 8px;
      width: 8px;
      background: $yellow;
      border-radius: 50%;
      margin-right: 8px;
    }
    &:last-child{
      margin-bottom: 30px;
    }
  }
}
/*
# Review
=========*/
.review{
  margin-top: 140px;
  /* the slides */
  .slick-slide {
    margin: 0 15px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -15px;
  }
}
.h2-review{
  text-align: center;
}
.review__list{
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-right: -30px;
  &::after{
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    display: block;
    height: 311px;
    width: 403px;
    background: url(../img/decor/paw-l.svg) no-repeat right top;
    transform: translateX(-100%);
    z-index: -1;
  }
}
.review__item{
  position: relative;
  width: 470px;
  margin-right: 30px;
  z-index: 999;
}
.review-text__wrap{
  padding: 35px;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  .review-text{
    margin: 0;
    font-weight: 500;
    line-height: 140%;
    &::before{
      position: relative;
      top: 1.5rem;
      content: '\201C';
      color: $yellow;
      font-size: 3.5rem;

    }
  }
  .review__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    color: $ligth-grey;
    font-size: 0.9375rem;
  }
}
.map{
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.map-info{
  width: 40%;
  background: $yellow;
  padding-left: 15%;
  border-top: 5px solid $yellow;
  border-bottom: 4px solid $yellow;
}
.map-frame{
  width: 60%;
}
.h2-map{
  margin-top: 70px;
  margin-bottom: 50px;
}
.h4-map{
  margin-bottom: 20px;
}
.contact-info{
  &__block{
    margin-top: 35px;
    .contact-info__link{
      text-decoration: none;
      color: $black;
    }
  }
  &__social-list{
    list-style: none;
    padding: 0;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__social-item{
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__social-link{
    display: inline-block;
    font-size: 0;
    text-decoration: none;
    color: $black;
    height: 22px;
    width: 22px;
    &::after{
      content: url(../img/icons/socials/fb.svg);
      display: block;
      border-radius: 50%;
      background: $white;
    }
    &:hover::after{
      background: $yellow;
    }
  }
  &__social-item:nth-child(2){
    .contact-info{
      &__social-link{
        &::after{
          content: url(../img/icons/socials/inst.svg);
        }
      }
    }
  }
  &__social-item:nth-child(3){
    .contact-info{
      &__social-link{
        &::after{
          content: url(../img/icons/socials/vk.svg);
        }
      }
    }
  }
}
.prefooter{
  position: relative;
  &::after{
    content: '';
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    background: $lihgtin-grey;
  }
}
.footer{
  color: $footer-grey;
}
/* PAGE CATALOG */
.rooms-main{
  margin-top: 70px;
}
.page-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rooms-main__wrap{
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.sidebar.filters{
  width: 30%;
  margin-right: 30px;
}
.filter{
  &-name{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 19px;
    color: $black;
    margin-bottom: 25px;
  }
}
.input-price{
  width: 100px;
}
.rooms-wrap{
  width: 100%;
}
.rooms{
  &__list{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px
  }
  &__item{
    border: 1px solid $grey;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px
  }
}
.filter{
  margin-bottom: 35px;
    &:last-child{
      margin-bottom: 0;
    }
  &-name{
    font-size: 1rem;
    font-weight: 500;
  }
  &-params{
    display: flex;
    flex-direction: column;
    label{
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      font-weight: normal;
      font-size: 0.875em;
      &:last-child{
        margin-bottom: 0;
      }
      &:hover > span{
        box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.2);
      }
    }
  }
}
.params--price{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  input{
    width: 90px;
    margin: 0 5px;
    &:first-child{
      margin-left: 0;
    }
  }
}
.btn-filter{
  margin-bottom: 15px;
}
@import 'media';
